---
import BaseLayout from '~/layouts/BaseLayout.astro'
import Container from '~/components/Container.astro'
import SectionHeading from '~/components/SectionHeading.astro'
---

<BaseLayout title="公告">
  <Container class="py-12 md:py-16">
    <SectionHeading as="h1" level="page" class="mb-10">公告</SectionHeading>
    <p class="text-center text-body">公告事項はありません。</p>
  </Container>
</BaseLayout>
